@import '~bootstrap/scss/bootstrap';


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.filter {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: blue;
    transition: 0.3s all;

    &:hover {
        background-color: rgb(35, 35, 189);
        color: cornsilk;
    }

}